.carrosel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra o slide sem distorcer */
}

/* Define uma altura para os slides do carrossel de máquinas */
.swiper-maquinas .swiper-slide {
    height: 250px; 
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 0.5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-card {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0.2em;
}

.descricao__texto {
    font-size: 14px;
    margin: 0.5em 0.2em;
}

.descricao__imagem {
    width: 10em; 
    height: auto;
    border-radius: 10px;
    margin-left: 1em; 
}

.card__botoes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.botoes {
    display: flex;
    align-items: center;
}

.botoes__item {
    margin: 0 0.5em;
}


.botoes__item img {
    width: 28px;
    height: 28px;
}

@media screen and (min-width:1024px) {
    .carrosel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 80%; /* Aumenta a largura do carrossel */
    }

    /* Aumenta a altura dos slides de máquinas em telas maiores */
    .swiper-maquinas .swiper-slide {
        height: 350px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 50%; /* Ajusta a largura do card para o novo layout */
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrosel__container {
        display: flex;
        margin: 0 10vw 2em 10vw; /* Ajusta as margens */
        align-items: center;
    }
    
    .swiper {
        width: 90%; /* Deixa o carrossel bem largo em telas grandes */
    }
    
    .swiper-maquinas .swiper-slide {
        height: 450px; /* Deixa os slides ainda mais altos */
    }

    .descricao__titulo {
        font-size: 32px;
    }

    .descricao__texto {
        font-size: 16px;
    }

    .card {
        width: 60%;
        margin: 2em auto; 
    }

    .descricao__imagem {
        width: 12em; 
    }
}