.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1em; /* Adicionado padding para alinhar melhor */
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
    width: 5em;
    height: 5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--branco);
    z-index: 10; /* Garante que o menu fique por cima */
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container__titulo {
    display: none;
}

.container__botao {
    display: none;
}

.opcoes {
    display: none; /* Esconde as opções no mobile */
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

/* Estilos para Tablet e Desktop */
@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__imagem {
        width: 150px;
        height: 150px;
    }   
    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    /* Esconde o menu hambúrguer no desktop */
    .cabecalho__menu-hamburguer,
    .container__botao,
    .container__rotulo {
        display: none;
    }

    /* Mostra as opções no desktop */
    .opcoes {
        display: flex;
    }
    
    .opcoes__item {
        margin: 0 3em;
        text-transform: uppercase;
    }
    
    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
        font-family: var(--fonte-principal);
    }
    
    .opcoes__link:hover {
        color: var(--laranja);
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 5em; /* Aumenta o espaçamento lateral */
    }

    .opcoes {
        margin-right: auto; /* Empurra os links para perto do logo */
        margin-left: 5em;
    }
    
    .container__imagem {
        width: 200px;
        height: 200px;
    }
}