.localizacao-atendidas__titulo {
    background-color: var(--branco);
    color: var(--laranja);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 1em;
}