.rodape {
    background-color: var(--azul); /* Fundo escuro para contraste */
    color: var(--branco);
    padding: 2em 1em;
    text-align: center;
}

.rodape__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__titulo {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1.5em;
    font-family: var(--fonte-secundaria);
}

.rodape__contato {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.rodape__link {
    display: flex;
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    margin: 0.5em 0;
    transition: color 0.3s;
}

.rodape__link:hover {
    color: var(--laranja); /* Efeito hover para interatividade */
}

.rodape__icone {
    width: 24px;
    height: 24px;
    margin-right: 0.8em;
}
.rodape__icone__whatsapp {
    width: 36px;
    height: 36px;
    margin-right: 0.8em;
}

.rodape__texto {
    color: var(--branco);
}

.rodape__localizacao {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza no mobile */
    margin-bottom: 2em;
}

.rodape__localizacao .rodape__icone {
    fill: var(--branco); /* Define a cor do ícone de localização */
}

.rodape__localizacao .rodape__texto {
    margin-bottom: 0; /* Remove a margem para evitar espaçamento duplo */
}


@media screen and (min-width: 1024px) {
    .rodape {
        padding: 3em;
    }

    .rodape__container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .rodape__contato {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    
    .rodape__localizacao {
        justify-content: flex-start; /* Alinha à esquerda no desktop */
    }

    .rodape__titulo {
        text-align: left;
        max-width: 300px;
    }
}